<section class="contacts" id="contacts">
  <div class="container">
    <div class="title">
      <h2>Официальный Дистрибьютор
        Tethys Parquet</h2>
    </div>
    <div class="form-screen__wrapper form-screen__wrapper_contacts">
      <div class="contacts__info">
        <h4>Сочи</h4>
        <p>
          354000, г. Сочи, ул.Горького 87/3, салон "Парк Деко"
        </p>
        <p>
          +7 (966) 355-55-66
        </p>
        <p>
          parkdeco@yandex.ru
        </p>
      </div>
      <div id="map"></div>
    </div>
  </div>
  <div class="image__block">
    <div class="image__item">
      <img src="img/form-bg-1.png" alt="">
    </div>
    <div class="image__item">
      <img src="img/form-bg-2.png" alt="">
    </div>
    <div class="image__item">
      <img src="img/form-bg-3.png" alt="">
    </div>
  </div>
</section>
