<section class="eighth-screen" id="assortment">
  <div class="container">
    <div class="title">
      <h2>
        Каталог продукции
      </h2>
    </div>

    <div class="content__wrapper">
      <div class="content">
        <h4>classic collection</h4>
        <p>
          Классическая палитра цветов для напольных покрытий из дуба, <br>
          подходящая под любой интерьер от барокко до ар-деко
        </p>
        <div class="colleciton">
          <div class="item">
            <img src="img/classic-collection-castle.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/classic-collection-2.png" alt="">
            <p>
              Cotton White
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/classic-collection-3.png" alt="">
            <p>
              Natural
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/classic-collection-4.png" alt="">
            <p>
              Chocolate
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/classic-collection-5.png" alt="">
            <p>
              Pure
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/classic-collection-6.png" alt="">
            <p>
              Ice Brown
            </p>
            <strong>
              Oak
            </strong>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="img/catalog-img-1.png" alt="">
        </div>
      </div>
    </div>
    <div class="content__wrapper">
      <div class="content">
        <h4>Loft collection</h4>
        <p>
          Оригинальные цвета этой коллекции идеально подойдут для <br>
          экстравагантных современных стилей и сделают пол ярким элементом <br>
          интерьера Вашего дома
        </p>
        <div class="colleciton">
          <div class="item">
            <img src="img/loft-collection-1.png" alt="">
            <p>
              Midnight indigo
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/loft-collection-2.png" alt="">
            <p>
              Ash Grey
            </p>
            <strong>
             Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/loft-collection-3.png" alt="">
            <p>
              Charcoal
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/loft-collection-4.png" alt="">
            <p>
              Havanna
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/loft-collection-5.png" alt="">
            <p>
              Gris Belge
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/loft-collection-6.png" alt="">
            <p>
              Savanna
            </p>
            <strong>
              Oak
            </strong>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="img/catalog-img-2.png" alt="">
        </div>
      </div>
    </div>
    <div class="content__wrapper">
      <div class="content">
        <h4>Exotic collection</h4>
        <p>
          Яркая, интригующая коллекция, вдохновленная экзотическими <br>
          породами дерева: Махагон, Мербау и Орех Американский. <br>
          Идеально подойдет для оформления интерьеров в этническом стиле.
        </p>
        <div class="colleciton">
          <div class="item">
            <img src="img/exotic-collection-1.png" alt="">
            <p>
              Mahogany
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/exotic-collection-2.png" alt="">
            <p>
              Walnut
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/exotic-collection-3.png" alt="">
            <p>
              Dark
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/exotic-collection-4.png" alt="">
            <p>
              Cherry coral
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/exotic-collection-5.png" alt="">
            <p>
              Olive
            </p>
            <strong>
              Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/exotic-collection-6.png" alt="">
            <p>
              Pine
            </p>
            <strong>
              Oak
            </strong>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="img/catalog-img-3.png" alt="">
        </div>
      </div>
    </div>
    <div class="content__wrapper">
      <div class="content">
        <h4>Mist collection</h4>
        <p>
          Новейшая коллекция, полностью оправдывающая свое <br>
          название, - сложные, глубокие цвета,покрытые легкой дымкой, <br>
          словно туманом, придадут Вашему интерьеру таинственность <br>
          иглубинуr Выбор современных молодых людей широких <br>
          взглядов
        </p>
        <div class="colleciton">
          <div class="item">
            <img src="img/mist-collection-1.png" alt="">
            <p>
              Slate Grey
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/mist-collection-2.png" alt="">
            <p>
              Super white
            </p>
            <strong>
               Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/mist-collection-3.png" alt="">
            <p>
              Silver Grey
            </p>
            <strong>
               Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/mist-collection-4.png" alt="">
            <p>
              Nordic Blue
            </p>
            <strong>
               Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/mist-collection-5.png" alt="">
            <p>
              Aqua
            </p>
            <strong>
               Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/mist-collection-6.png" alt="">
            <p>
              Morning Mist
            </p>
            <strong>
               Oak
            </strong>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="img/catalog-img-4.png" alt="">
        </div>
      </div>
    </div>
    <div class="content__wrapper">
      <div class="content">
        <h4>Brush collection</h4>
        <p>
          Коллекция инженерной доски, при работе над которой, <br>
          металлической щеткой "вычесываются" мягкие волокна, - остаются <br>
          только крупные структуры и годичные кольца, которые делают <br>
          поверхность пола объемной и неповторимой.
        </p>
        <div class="colleciton">
          <div class="item">
            <img src="img/brush-collection-1.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/brush-collection-2.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/brush-collection-3.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/brush-collection-4.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/brush-collection-5.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
          <div class="item">
            <img src="img/brush-collection-6.png" alt="">
            <p>
              Castle
            </p>
            <strong>
              Brown Oak
            </strong>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="img/catalog-img-5.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>
