<section class="fifth-screen">
  <div class="container">
      <div class="title">
        <h2>
          Tethis Parquet в цифрах
        </h2>
      </div>
  </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="info">
            <h4>
              Диаграмма темпа роста продаж
            </h4>
            <p>
              Темпы роста объемов производства, выраженные в <br>
              диаграммах, явно показывают устойчивый рост <br>
              интереса целевой аудитории к нашей продукции. <br>
              Основная масса наших Заказчиков – люди, <br>
              пришедшие по рекомендации.
            </p>

            <div class="diagram">
              <p>2016 год - <strong> 150 000 квадрытных метров </strong></p>
              <p>2017 год - <strong> 240 000 квадрытных метров </strong></p>
              <p>1 полугодие 2018 год - <strong> 220 000 квадрытных метров </strong></p>
            </div>
            <img src="img/slider-car.png" alt="">

          </div>
      <div class="ct-chart-wrapper">
        <div class="ct-chart"></div>
        <div class="ct-chart-titles">
          <div class="ct-chart-title ">
            <strong>2016 год</strong>
            <p>
              150 000 кв.м
            </p>
          </div>
          <div class="ct-chart-title">
            <strong>2017 год</strong>
            <p>
              240 000 кв.м
            </p>
          </div>
          <div class="ct-chart-title">
            <strong>1 полугодие <br>2018 год</strong>
            <p>
              220 000 кв.м
            </p>
          </div>
        </div>
      </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>

</section>
