<section class="first-screen">
  <div class="container">
    <h1>Инженерная доска <br>
      из кавказского дуба <br>
      от производителя</h1>
    <p>
      с доставкой по Краснодарскому краю за 14 дней
    </p>
    <div class="button">
      <a href="#assortment">Перейти в каталог</a>
    </div>
    <div class="first-screen__info">
     <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="block">
            <p>
              51 год
            </p>
            <strong>
              опыта в обработке <br>
              древесины
            </strong>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="block">
            <p>
              30
            </p>
            <strong>
              Цветовых вариантов
            </strong>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="block">
            <p>
              36
            </p>
            <strong>
              Месяцев гарантия
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
