<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="logo">
        <img src="img/logo_white.svg" alt="logo">
      </div>
      <nav class="nav nav_footer">
        <ul>
          <li>
            <a href="#project">
              Наши проекты
            </a>
          </li>
          <li>
            <a href="#production">
              Производство
            </a>
          </li>
          <li>
            <a href="#assortment">
              Ассортимент
            </a>
          </li>
          <li>
            <a href="#advantage">
              Преимущества
            </a>
          </li>
          <li>
            <a href="#faq">
              FAQ
            </a>
          </li>
          <li>
            <a href="#contacts">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="button__block">
        <div class="button">
          <a href="#" class="form_open">Купить доску</a>
        </div>
        <div class="button">
          <a href="#" class="form_open">Стать дилером</a>
        </div>
        <div class="social">
          мы в соц сетях -
          <a href="#"> <img src="img/instagram-logo.svg" alt=""></a>
          <a href="#"> <img src="img/twitter-logo.svg" alt=""></a>
          <a href="#"> <img src="img/facebook-logo.svg" alt=""></a>
        </div>
      </div>

    </div>
    <div class="copyright">
      tethys parquet &#169; 2018
    </div>
  </div>
</footer>
