<section class="form-screen">
  <div class="container">
    <div class="form-screen__wrapper">
      <div class="title">
        <h2>
          Заполните форму
        </h2>
        <p>
          получите скидку 10% на первый заказ
        </p>
      </div>
      <div class="form__section">
        <img src="img/form-logo.svg" alt="">
        <form action="sendmail.php" method="get" class="form">
          <input type="text" name="name" placeholder="Ваше имя" required>
          <input type="tel" name="tel" placeholder="Ваш телефон" required>
          <input type="email" name="email" placeholder="Ваш E-mail" required>
          <button type="submit" class="button" name="submit">Получить скидку</button>
        </form>
      </div>
    </div>
  </div>
  <div class="image__block">
    <div class="image__item">
      <img src="img/form-bg-1.png" alt="">
    </div>
    <div class="image__item">
      <img src="img/form-bg-2.png" alt="">
    </div>
    <div class="image__item">
      <img src="img/form-bg-3.png" alt="">
    </div>
  </div>
</section>
