<section class="fourth-screen">
  <div class="container">
    <div class="title">
      <h2>Производитель — </h2>
      <h3>российская компания Tethys Parquet</h3>
    </div>
    <div class="fourth-screen__container">
      <div class="fourth-screen__block">
        <div class="section">
          <div class="section__elem">
            <p>
              1967 год
            </p>
            <strong>
              Запуск полностью ручного
              производства штучного
              паркета
            </strong>
          </div>
          <div class="section__elem">
            <p>
              1975 год
            </p>
            <strong>
              Запуска производства <br>
              дверей и мебели из <br>
              массива ценных пород
              древесины
            </strong>
          </div>
          <div class="section__elem">
            <p>
              2009 год
            </p>
            <strong>
              Запуск линии по
              производству инженерной
              доски из кавказского дуба
            </strong>
          </div>
          <div class="section__elem">
            <p>
              58
            </p>
            <strong>
              Высококвалифицированных
              специалиста заняты
              на производстве
            </strong>
          </div>
          <div class="section__elem">
            <p>
              100%
            </p>
            <strong>
              Качественной продукции
            </strong>
          </div>
        </div>
        <div class="block-title">
          О нас
        </div>
      </div>
      <div class="fourth-screen__block">
          <div class="map">
            <div class="map__title">
              Инженерная доска Tethys Parquet пользуется <br>
              растущим спросом во многих регионах <br>
              России
            </div>
            <div class="map__image">
              <div id="one" class="tabs__wrap">
                <img src="img/map1.png" alt="">
              </div>
              <div id="two" class="tabs__wrap">
                <img src="img/map2.png" alt="">
              </div>
              <div id="three" class="tabs__wrap">
                <img src="img/map3.png" alt="">
              </div>
              <div id="four" class="tabs__wrap">
                <img src="img/map4.png" alt="">
              </div>
              <div id="five" class="tabs__wrap">
                <img src="img/map5.png" alt="">
              </div>
              <div id="six" class="tabs__wrap">
                <img src="img/map6.png" alt="">
              </div>
              <div id="seven" class="tabs__wrap">
                <img src="img/map7.png" alt="">
              </div>
              <div id="eight" class="tabs__wrap">
                <img src="img/map8.png" alt="">
              </div>
            </div>
            <div class="map__nav tabs">
              <ul>
                <li>
                  <a href="#one">
                    Дагестан
                  </a>
                </li>
                <li>
                  <a href="#two">
                    Краснодарский край
                  </a>
                </li>
                <li>
                  <a href="#three">
                    Ставропольский край
                  </a>
                </li>
                <li>
                  <a href="#four">
                    Карачаево-Черкессия
                  </a>
                </li>
                <li>
                  <a href="#five">
                    Чеченская Республика
                  </a>
                </li>
                <li>
                  <a href="#six">
                   Ингушетия
                  </a>
                </li>
                <li>
                  <a href="#seven">
                    Балкария
                  </a>
                </li>
                <li>
                  <a href="#eight">
                    Адыгея
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
