<div class="navigation">
  <div class="container">
    <div class="nav__button">
      <div class="bar"></div>
    </div>
    <div class="navigation__wrapper">
      <div class="logo">
        <img src="img/logo.svg" alt="logo">
      </div>
      <nav class="nav">
        <ul>
          <li>
            <a href="#project">
              Наши проекты
            </a>
          </li>
          <li>
            <a href="#production">
              Производство
            </a>
          </li>
          <li>
            <a href="#assortment">
              Ассортимент
            </a>
          </li>
          <li>
            <a href="#advantage">
              Преимущества
            </a>
          </li>
          <li>
            <a href="#faq">
              FAQ
            </a>
          </li>
          <li>
            <a href="#contacts">
              Контакты
            </a>
          </li>
        </ul>
      </nav>

      <div class="contact">
        <a href="#" class="form_open">
          <img src="img/phone-receiver.svg" alt="phone">
          +7 (966) <b>355-55-66</b>
          <strong>Заказать дзвонок</strong>
        </a>
      </div>

    </div>

  </div>
</div>
