<section class="ninth-screen" id="faq">
  <div class="container">

    <div class="title">
      <h2>
        Нас часто спрашивают
      </h2>
    </div>
    <div class="slider">
      <ul class="slide__wrapper">
        <li class="slide">
          <div class="slide__head active">
            Что надежнее - инженерная доска, паркетная или массивная?
          </div>
          <div class="slide__toggle slide__toggle_active">
            Рекомендуем инженерную доску. Ее основа ― авиационная фанера из цельных
            слоев березы, склеенной перпендикулярно волокнами к друг другу. Благодаря этому
            инженерная доска меньше других видов подвержена «короблению» при перепадах
            температуры, влажности, и менее прихотлива к условиям эксплуатации. По толщине
            полезного слоя инженерная доска при этом не уступает массивной. Паркетная доска
            наименее предпочтительная, так как ее нельзя циклевать ― она предназначена только
            для одноразового использования.
          </div>
        </li>
        <li class="slide">
          <div class="slide__head">
            Какой клей лучше выбрать однокомпонентный или
            двухкомпонентный?
          </div>
          <div class="slide__toggle">
            Существует много мнений на эту тему, и каждый мастер выбирает клей по
            собственным критериям.
          </div>
        </li>
        <li class="slide">
          <div class="slide__head">
            Насколько надежно замковое соединение «шип-паз»?
          </div>
          <div class="slide__toggle">
            Соединение «шип-паз» просто и надежное, как автомат Калашникова! Важный
            нюанс замка типа «шип-паз» ― в том, что грамотные производители учитывают
            естественное расширение древесины, и, закладывают его в длину паза, что позволяет
            покрытию «дышать» и не портиться долгие годы.
          </div>
        </li>
        <li class="slide">
          <div class="slide__head">
            Каких производителей можете рекомендовать?
          </div>
          <div class="slide__toggle">
            Наши мастера монтажа используют профессиональную химию
            от швейцарской компании Sika и итальянской Adesive.
          </div>
        </li>
        <li class="slide">
          <div class="slide__head">
            Какое защитное покрытие лучше - лак или масло?
          </div>
          <div class="slide__toggle">
            Защитный лак образует на поверхности дерева синтетическую пленку,
            закрывающую поры древесины, и наощупь напоминающую ламинат. Масло же сохраняет
            ощущение природности и натуральности дерева, позволяет ему «дышать». По этой
            причине большинство наших заказчиков отдают предпочтение доске, покрытой маслом.
            С точки зрения ремонтопригодности при обновлении лакового покрытия
            необходимо циклевать всю площадь пола, снимая минимум миллиметр толщины
            полезного слоя. Защитное покрытие на основе натурального льняного масла с
            добавлением пчелиного воска позволяет локально устранять недостатки покрытия на
            поврежденном участке
          </div>
        </li>
        <li class="slide">
          <div class="slide__head">
            Доставляете ли вы свою продукцию по России?
          </div>
          <div class="slide__toggle">
            Да, внеся предоплату по заказу вы можете получить образцы доски, через наших дилеров. Мы
            занимаемся производством изделий из дерева, в том числе дверей и мебели, а в направлении
            продаж работаем только через официальную дилерскую сеть. Вопрос приобретения инженерной
            доски можно уточнить у партнеров в вашем регионе.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
