<section class="second-screen" id="project">
  <div class="container">
    <div class="title">
      <h2>Наши проекты</h2>
    </div>
    <div class="second-screen__block">
      <div class="item">
        <img src="img/second-screen-1.png" alt="">
        <p>ЖК Панорама Парк г. Сочи</p>
      </div>
      <div class="item">
        <img src="img/second-screen-2.png" alt="">
        <p>Nordic Blue Oak <br>
          Mist collection</p>
      </div>
    </div>
    <div class="button">
      <a href="#">Показать больше</a>
    </div>
  </div>
</section>
