<section class="seventh-screen" id="advantage">
  <div class="container">
    <div class="title">
      <h2>ПОЧЕМУ ТЫСЯЧИ ЛЮДЕЙ ВЫБИРАЮТ ИНЖЕНЕРНУЮ ДОСКУ TETHYS PARQUET</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/house.svg" alt="">
        <h5>Естественность</h5>
        <p>Натуральное напольное покрытие.
          Экологично и естественно
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/shield.svg" alt="">
        <h5>Защита</h5>
        <p>Доска обработана натуральным <br>
          льняным маслом с добавлением <br>
          пчелиного воска (пр-во Бельгия) <br>
          для защиты от механических
          повреждений
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/house-repair.svg" alt="">
        <h5>ремонтопригодность</h5>
        <p>Высокая ремонтопригодность. <br>
          Царапины и потертости легко устранить
          самому
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/toast.svg" alt="">
        <h5>устойчивость</h5>
        <p>Уникальная устойчивость. <br>
          Не остается пятен от вина, чая, кофе
          даже при длительном контакте
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/pantone.svg" alt="">
        <h5>колоритность</h5>
        <p>30 проверенных цветовых решений <br>
          от европейских дизайнеров
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/floor-mop.svg" alt="">
        <h5>Можно мыть</h5>
        <p>Легкость в уходе. <br>
          Пол из инженерной доски можно мыть
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/floor.svg" alt="">
        <h5>теплый пол</h5>
        <p>Подходит для систем теплого пола
          любого типа
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <img src="img/35.svg" alt="">
        <h5>СРОК СЛУЖБЫ</h5>
        <p>Гарантия 3 года и длительный срок службы,
          при соблюдении адекватных условий эксплуатации
        </p>
      </div>
    </div>
  </div>
</section>
