<section class="sixth-screen" id="production">
  <div class="container">
    <div class="title">
      <h2>
        Производственная база компании
      </h2>
      <h3>
        расположена в г. Майкоп
      </h3>
      <p>Линия оснащена высокотехнологичным
        оборудованием германского бренда SCHROEDER – <br>
        признанного лидера в области
        производства деревообрабатывающих станков в мире,<br>
        обеспечивающим высочайшую точность
        проведения каждой операции. Предприятие вложило в <br>
        оснащение линии 1 миллион евро.
      </p>
    </div>
  </div>
  <div class="swiper-container-two">
    <div class="swiper-pagination">1 ЭТАП</div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 1
            </h5>
            <p>
              Заготовка древесины
              кавказского дуба
            </p>
          </div>
          <img src="img/slider-stage-1.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 2
            </h5>
            <p>
              Распиловка с
              максимальным
              выявлением текстуры
            </p>
          </div>
          <img src="img/slider-stage-2.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 3
            </h5>
            <p>
              Сушка в течение 12 дней
              с применением
              компьютеризированного
              оборудования
            </p>
          </div>
          <img src="img/slider-stage-3.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 4
            </h5>
            <p>
              Изготовление полезного
              слоя в соответствии с
              самыми строгими мировыми
              стандартами
            </p>
          </div>
          <img src="img/slider-stage-4.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 5
            </h5>
            <p>
              Склейка ламели с фанерным слоем из стабильной древесины
            </p>
          </div>
          <img src="img/slider-stage-5.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 6
            </h5>
            <p>
              Нарезка
              замкового соединения «шип-паз» для удобства монтажа
            </p>
          </div>
          <img src="img/slider-stage-6.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 7
            </h5>
            <p>
              Конечная обработка маслами
            </p>
          </div>
          <img src="img/slider-stage-7.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__wrapper">
          <div class="content">
            <h5>
              ЭТАП 8
            </h5>
            <p>
              Упаковка готовой продукции
            </p>
          </div>
          <img src="img/slider-stage-8.png" alt="">
        </div>
      </div>
    </div>
    <!-- Add Pagination -->

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
