<section class="thent-screen">
  <div class="container">
    <div class="title">
      <h2>
        Приглашаем к сотрудничеству
      </h2>
      <h3>
        салоны по продаже напольных покрытий в любых регионах России
      </h3>
      <p>
        Отправьте карточку предприятия, фото магазина и контактную
        информацию на
        <a href="mailto:dealers@tethysparquet.ru"> dealers@tethysparquet.ru </a>
        и получите коммерческое предложение для вашего региона
      </p>
    </div>
   <div class="thent-screen__content">
     <div class="block block__info">
       <div class="block__elem">
         <img src="img/medal.svg" alt="">
          <h5>
            Качество
          </h5>
         <p>
           Качественный товар, проверенный
           тысячами довольных Заказчиков
         </p>
       </div>
       <div class="block__elem">
         <img src="img/team.svg" alt="">
         <h5>
           гибкость
         </h5>
         <p>
           Гибкие условия сотрудничества
         </p>
       </div>
       <div class="block__elem">
         <img src="img/auction.svg" alt="">
         <h5>
           Востребованность
         </h5>
         <p>
           Востребованный, высокомаржинальный
           товар
         </p>
       </div>
       <div class="block__elem">
         <img src="img/package.svg" alt="">
         <h5>
           надежность
         </h5>
         <p>
           Надежные поставки
         </p>
       </div>
     </div>
     <div class="block block__image">
       <img src="img/thent-screen-image.png" alt="">
       <img src="img/thent-screen-image-litle.png" alt="">
     </div>
   </div>
  </div>
</section>
