<section class="third-screen">
  <div class="container">
    <div class="title">
      <h2>
        Инженерная доска из кавказcкого дуба -
      </h2>
      <h3>
        идеальное решение для регионов Южного Федерального округа
      </h3>
      <p>
        Ареал произрастания кавказского дуба ― юг России, от предгорий Кавказа <br>
        до горного Крыма. Эта порода древесины относится к элитным сортам.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="image__block">
          <div class="image__item">
            <img src="img/third-screen-bg-1.png" alt="">
          </div>
          <div class="image__item">
            <img src="img/third-screen-bg-2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="third-screen__text-block">
          <h4>
            Кавказский дуб -
          </h4>
          <p>
            приспособлен к высоким температурам и <br>
            влажности юга России, что обеспечивает <br>
            долговременный срок службы любых изделий <br>
            из его древесины
          </p>
          <ul>
            <li>
              100% экологичность
            </li>
            <li>
              Высокие твердость и <br>
              прочность
            </li>
            <li>
              Износостойкость
            </li>
            <li>
              Биологическая стойкость
            </li>
            <li>
              Хорошо поддается <br>
              обработке инструментом
            </li>
            <li>
              Обработанные изделия <br>
              из кавказского дуба <br>
              имеют уникальную текстуру
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-title">
      Преимущества
    </div>
  </div>
</section>
